
#d1{
width:100px;
height:100px;
background-color:red;
animation-name:example1;
animation-duration:4s;
}


#d2{
width:100px;
height:100px;
background-color:red;
animation-name:example2;
animation-duration:4s;
}
/*Theanimationcode*/
/*Theelementtoapplytheanimationto*/
#d3{
width:100px;
height:100px;
position:relative;
background-color:rgb(10,229,149);
animation-name:example3;
animation-duration:4s;
}

#d4{
width:100px;
height:100px;
position:relative;
background-color:red;
animation-name:example3;
animation-duration:4s;
animation-delay:2s;
}

#d5{
width:100px;
height:100px;
position:relative;
background-color:rgb(216,226,13);
animation-name:example3;
animation-duration:4s;
animation-delay:-2s;
}

#d6{
width:100px;
height:100px;
position:relative;
background-color:red;
animation-name:example3;
animation-duration:4s;
animation-iteration-count:3;
}

#d7{
width:100px;
height:100px;
position:relative;
background-color:red;
animation-name:example3;
animation-duration:4s;
animation-iteration-count:infinite;
}

#d8{
width:100px;
height:100px;
position:relative;
background-color:red;
animation-name:example3;
animation-duration:4s;
animation-iteration-count:2;
animation-direction:alternate-reverse;
}
